* {
  box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
h2 {
    border: 1px solid black;
    background-color: #b4becf;
}
header {
    border: 1px solid black;
    background-color: #c1dbf7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    width: 100vw;
}
.quizBody {
    border: 1px solid black;
    background-color: #bfcaf2;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50vw;
    padding: 100px 10px 10px 10px;
    border-radius: 5px;
}
